/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
}

body {
  font: 1em/1.5;
  color: #184f68;
  background: #accbd9;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  margin: 0;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
  padding: 0.875em 1.875em 1.875em;
  background: #85b5ca;
}

fieldset,
input,
button {
  padding: 0;
  border: none;
  position: relative;
}

fieldset {
  margin-top: 1.5em;
}

legend,
button {
  font-size: 1.25em;
}

legend {
  font-weight: 500;
  padding-top: 0.5em;
  border-top: 2px solid #679cb3;
  margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
  width: 100%;
}

label {
  color: #000;
  display: block;
  margin-bottom: 0.5em;
}

input,
select {
  margin-bottom: 1.125em;
}

input {
  font-size: 1em;
  font-weight: 500;
  padding: 0.8em;
  background: #c1deeb;
  border: 2px solid #c1deeb;
  outline: none;
}

input:focus {
  background: #fff;
  border-color: #5e97b0;
  transition: border-color 0.4s, background-color 0.4s;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

button {
  color: #fff;
  padding: 0.55em 1.25em;
  background: #22627e;
  margin: 1.25em 0 0.5em;
  cursor: pointer;
}

button:hover {
  background: #184c62;
}

/* ================================= 
  Page Styles
==================================== */

.container {
  margin: auto;
  max-width: 680px;
}

.shirt div {
  float: left;
  margin-right: 0.85em;
}

.interests input {
  margin-bottom: 0;
}

.credit-card {
  margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
  display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.cost {
  position: absolute;
  top: 94%;
  font-weight: bold;
}

/* ================================= 
  Error/Success Classes
==================================== */

.err-border {
  border: solid red 1px;
}

.err-label {
  color: red;
  font-weight: 600;
}

.success {
  color: white;
  background-color: #4bb543;
  border: 2px solid white;
  -webkit-filter: drop-shadow(0 0 1px #4bb543);
}

.error {
  color: red;
  background-color: white;
  border: 2px solid red;
  -webkit-filter: drop-shadow(0 0 1px red);
  -moz-box-shadow: 0 0 1px red;
  filter: drop-shadow(0 0 1px red);
}

.msg-box {
  font-weight: 100;
  text-align: center;
  padding: 2px;
  position: absolute;
  width: 140px;
  min-height: 40px;
  border-radius: 5px;
  z-index: 100;
}

.left.msg-box:after {
  bottom: 40%;
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
}

.left.msg-box:after {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
}

.bottom.msg-box:after {
  bottom: 100%;
  left: 45%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
}

.bottom.msg-box:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
}

#exp-date {
  max-width: 200px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
  header {
    padding: 2em 0;
  }
  button {
    width: 100%;
  }
}

@media (min-width: 680px) {
  header {
    padding: 4.65em 0 2.5em;
  }
  .col {
    float: left;
  }
  .col + .col {
    margin-left: 2.5%;
  }
  .col-3 {
    width: 23%;
  }
  .col-6 {
    width: 49%;
  }
}
